

.Toastify__close-button {
  color: black !important;
}

.Toastify__close-button:focus {
  outline: none;
}
.toast-success {
  border-left: 3px solid green;
}
.toast-error {
  border-left: 3px solid red;
}
.toast-info {
  border-left: 3px solid blue;
}
.toast-warning {
  border-left: 3px solid yellow;
}

@media (max-width: 768px) {
  .radio-group-type,
  .radio-group-direction {
    max-width: 300px;
    margin: auto;
  }
}
